<aside class="cover cover-home" id="site-cover">
    <div class="cover-inner">
        <div class="cover-image"></div>
        <div class="cover-body-kling">
            <div class="cover-body">
                <h1 class="blog-title"><a id="blog-logo" href="{{ site.url }}" title="{{ site.name}}">{{ site.name }}</a></h1>
                <p class="blog-description">{{ site.description }}</p>
            </div>
            <div class="cover-social">
                <ul>
                    <li><a class="social-facebook" href="{{ site.social.facebook }}" title="Become Facebook Friends"><i class="fi-social-facebook"></i></a></li>
                    <li><a class="social-twitter" href="{{ site.social.twitter }}" title="Follow me on Twitter"><i class="fi-social-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</aside>
