/**
 * PAGINATION
**/

.pagination {
    border-top: 1px solid $greyed-out;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;

    .older-posts,
    .newer-posts {
      font-family: "Trend Ornaments";
      a:before,
      a:after {
        font-size: $base-font-size * 1.8;
      }
      span {
        display: none;
      }

      -webkit-box-flex: 0;
      -moz-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;
    }
    .newer-posts {
      a:before {
        // content: "s";
        content: "q";
      }
      -webkit-box-ordinal-group: 2;
      -moz-box-ordinal-group: 2;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1;
    }
    .older-posts {
      a:after {
        // content: "t";
        content: "r";
      }
      -webkit-box-ordinal-group: 4;
      -moz-box-ordinal-group: 4;
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2;
      text-align: right;
    }
}
