// ----------------------------------------------------------------------------
//  ARTICLE
// ----------------------------------------------------------------------------

article {
  .post-content {
    > p {
      &:nth-of-type(1) {
        font-size: 1.2em;
        margin: 0 auto 1.6em;
        text-align: justify;
        &:after {
          content: "";
          background: transparent url("/images/divider-medium.svg") no-repeat center;
          background-size: contain;
          display: block;
          width: 170px;
          height: 9px;
          margin: 1.4em auto;
          text-align: center;
        }
      }
    }
  }
}
