/**
 * ARTICLE MASTHEAD
**/

header.masthead {
  padding: 2em 0;
  .avatar {
    $border-width: 1px;
    $padding: 6px;
    $img-width: 160px;
    margin: 0 auto;
    width: $img-width + ($padding * 2) + ($border-width * 2);
    height: $img-width + ($padding * 2) + ($border-width * 2);
    padding: $padding;
    border: $border-width solid rgba(0, 0, 0, 0.6);
    &,>.img {
      border-radius: 50%;
      margin-bottom: 0;
      display: block;
    }
    .img {
      width: $img-width;
      height: $img-width;
      background: transparent none no-repeat center;
      -webkit-background-size: $img-width $img-width;
      background-size: $img-width $img-width;
      @include hide-text;
    }
  }
}
