/**
 * SHARING OPTIONS
**/

.sharing {
  padding: 0 0 0;
  ul {
    padding: 0;
    margin: 0;
    text-align: center;
    li {
      display: inline-block;
      margin: 0 1em;
      @include box-shadow(0, 0, 0, 3px, $base-accent-color);
      border-radius: 50%;
      width: 72px;
      height: 72px;
      a {
        font-size: $base-font-size * 1.2;
        line-height: $base-font-size * 1.3;
        span {
          display: none;
        }
        &:before {
          font-family: "Icomoon Set";
        }
        &.sharing__facebook:before {
          content: "\e605";
        }
        &.sharing__twitter:before {
          content: "\e606";
        }
        &.sharing__google:before {
          content: "\e60c";
        }
      }
    }
  }
}
