h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
  color: $header-color;
  font-weight: $header-font-weight;
  line-height: 1.1em;
  margin-bottom: 0.6em;
  padding-top: 0.6em;
  a {
    font-weight: $header-font-weight;
  }
}
h1 {
  text-align: center;
  margin-bottom: .7em;
}
h2 {
  text-align: center;
  padding: 0.8em 0 0;
  margin: 0 0 0.7em 0;
  font-size: $base-font-size * 1.7;
}
p {
  margin: 0 0 1.4em 0;
}
blockquote {
  padding: 0.2em 0.8em 0.1em;
  margin: 0em -2em 1.4em;
  font-size: 1.05em;
  p:last-of-type {
    margin-bottom: 0;
  }
}
ul {
  @extend %default-ul;
}
ol {
  @extend %default-ol;
}
a {
  color: $base-link-color;
  font-weight: 400;
}
