<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} | {{ site.title }}</title>
    {% include meta-tags.html %}
    {% include socialtags.html %}
    {% include stylesheets.html %}
    {% include header-scripts.html %}
  </head>
  <body class="post">

    {% include page-header.html type="post" %}

    <main class="content" role="main">

      <article>
        <header>
          <h2>{{ page.title }}</h2>
        </header>
        <div class="post-meta">
          {% include post-timestamp.html type='page' %}
        </div>
        <div class="post-content">
          {{ content }}
        </div>
      </article>

      <hr class="divider--medium"/>

      {% include post-sharing.html %}

      <hr class="divider--large"/>

      {% include post-author.html %}

      {%comment%}{% include disqus.html %}{%endcomment%}

    </main>

    {% include footer.html %}
    {% include footer-scripts.html %}

  </body>
</html>
