/* LAYOUT STYLES */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/**
 * FRONTPAGE LAYOUT
**/

.index {
  aside.cover {
  }
  main.content {
  }
  article.post {
    margin-bottom: 3em;
  }
}

/**
 * ARTICLE LAYOUT
**/

main.content {
  @include outer-container;
  padding: 0;
  article {
    padding: 0;
  }
}
